
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
 @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
}

.btn-primary{
  @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] border-none text-white
}
.btn-primary:hover{
  @apply opacity-90;
}